Django==2.0.2
olefile==0.44
Pillow==4.3.0
pytz==2017.3
gunicorn>=19.6.0
whitenoise>=3.2
django-filter==1.1.0
dj-pagination==2.3.2
python-decouple==3.1
django-storages==1.6.5
django-allauth==0.35.0
libmemcached-dev 
zlib1g-dev
pylibmc
redis==2.10.6
WeasyPrint==0.41
django-paypal==0.5.0
celery==4.2.0
