* {box-sizing: border-box; margin: 0; padding: 0; list-style: none;}
body {font-family: 'Open Sans', sans-serif; font-size: 16px; line-height: normal; }
.logo {font-weight: bold; font-size: 1.3em; color: black; text-transform: none; }
strong { font-weight: bold; }
a { text-decoration: none; color: #d5d5d5; }
a:hover, .is-active a {color: black;}
.container { max-width: 90%; margin: 0 auto; width: 100%; }
.brand { color: black; }
.brand:hover { color: black; }
.header {padding: 8px 0; border-bottom: 1px solid #e5e5e5; box-shadow: 0 3px 2px -2px rgba(200,200,200,0.2); position: fixed; width: 100%; display: inline-block; background-color: white; }
.header-menu-list { display: flex; position: relative; justify-content: space-between; }
.header-menu-list-item.logo { justify-content:flex-start; flex-grow: 5; }
.header-menu-list-item { display: flex; justify-content: center; align-items: center; flex-grow: 1; }
.header-menu-list-item:not(.logo) {text-transform: uppercase; font-size: 0.8em; }
.header-menu-list-item .icon.ion-person { font-size: 1.7em; }
.body {background-color: #f8f8f8; min-height: 100%; height: auto; width: 100%; padding-top: 45px; }
.row { display: table; clear: both; float: none; width: 100%; padding-top: 20px; padding-bottom: 40px; }
.column { display: inline-block; float: left; vertical-align: top;}
.column.col3 {width: 30%; }
.column.col6 {width: 70%; }
.column.col2 {width: calc(20% - 3%); margin-right: 3%;}
.column.col8 {width: 80%; }
.menu-list-cars-item { background-color: #fff; margin-top: 20px; border-radius: 4px; box-shadow: 0 1px 2px #d5d5d5; padding: 5px 10px; }
.menu-list-cars-item:first-child { margin-top: 0; }
.cars { display: flex; justify-content: space-between; }
.cars-reference { display: flex; flex-direction: row; justify-content: center; align-items: center; }
.cars-reference .image { max-width: 80px; width: 100%; height: auto; }
.cars-reference.cars-description {flex-direction: column; justify-content: flex-start; align-items: flex-start; flex-grow: 2; margin-left: 1%; }
.button, button[type="submit"], input[type="submit"] { border-radius: 15px; box-shadow: 0 1px 2px #383838; padding: 5px 15px; text-align: center; display: inline-block; margin-top: 5px; margin-bottom: 8px; color: white; appearance: none; -webkit-appearance: none; border: 0 none; text-transform: uppercase; font-size: 1em; cursor: pointer; }
.button:hover { color: white; }
.button:focus {outline: 0 none; }
.button.button-primary, button[type="submit"], input[type="submit"] { background-color: #aa8cc5; }
.button.button-secondary { background-color: #0d98ba; }
.submenu-list { background-color: #fff; border-radius: 0; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); left: -12px; position: absolute; top: 38px; -webkit-transition: all 0.25s; transition: all 0.25s; visibility: hidden; width: 200px; padding: 12px; }
.header-menu-list-item.menu-hover { position: relative; }
.header-menu-list-item.menu-hover:hover .submenu-list { opacity: 1; top: 44px; visibility: visible; }
.header-menu-list-item.menu-hover .submenu-list:before,
.header-menu-list-item.menu-hover .submenu-list::before {border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 6px solid white;content: "";height: 0;left: 10%;position: absolute;top: -6px;width: 0;}
.alert-container { padding-top: 10px; }
.alert-messages { padding: 10px 15px; color: white; border-radius: 5px; }
.alert-messages:nth-child(n+2) { margin-top: 10px; }
.alert-messages.alert-success { background-color: #00e500; }
.alert-messages.alert-error { background-color: #ea3232; }
.alert-messages.alert-info { background-color: #99ccff; }
.pagination { margin-top: 20px; text-align: center; }
.pagination .page, .pagination .prev, .pagination .next { color: #222; display: inline-block; padding: 10px 18px; text-align: center; }
.pagination .prev, .pagination .next { width: auto; height: auto; border: 2px solid #aa8cc5; color: #aa8cc5; }
.pagination .current.page { font-weight: bold; border-bottom: 3px solid #aa8cc5; }
label:not(.form-location label) { margin-top: 15px; margin-bottom: 5px; }
label, input[type="text"], input[type="email"], input[type="number"], input[type="password"] { display: block; }
input[type="text"], input[type="email"], input[type="number"], input[type="password"], textarea { padding: 10px 8px; border: 1px solid #aa8cc5; appearance: none; -webkit-appearance: none; width: 100%; }
.form-location input[name="localization"] { border: 0 none; background-color: #e8e8e8; box-shadow: inset 0 1px 1px 1px rgba(0, 0, 0, 0.2); border-radius: 30px; margin-bottom: 20px; }
input:focus { outline: 0 none; }
.align-right { text-align: right; }
.align-left { text-align: left; }
.fl-left { float: left; }
.fl-right { float: right; }
.header-title { border-bottom: 1px solid #eee; margin-bottom: 8px; padding-bottom: 5px; }
.text-secondary { color: #d5d5d5; }

.onclic {width: 10px !important;height: 70px !important;border-radius: 50% !important;border-color: #bbbbbb;border-width: 4px;font-size: 0;border-left-color: #008CBA;-webkit-animation: rotating 2s 0.25s linear infinite;animation: rotating 2s 0.25s linear infinite;}
.onclic:hover {color: dodgerblue;background: white;}
@-webkit-keyframes rotating {from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}}
@media screen and (max-width: 640px) {
    .container {max-width: 100%; padding-left: 15px; padding-right: 15px; }
    .column { float: none; display: block; }
    .column.col3, .column.col6, .button, button[type="submit"], input[type="submit"] { width: 100%; }
    .image { max-width: 100%; width: 100%; }
    .pagination .prev, .pagination .next { display: none; }
}
