{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{{ car.name }}{% endblock %}

{% block content %}
<h1>{{ car.name }}</h1>
{% if car.image %}
    <img src="{{ car.image.url|default_if_none:'#' }}" class="image"alt="{{ car.name }}"/>
{% else %}
    <img src="{% static 'images/none.png' %}" class="image" alt="{{ car.name }}" />
{% endif %}
{{ car.localization }}
{{ car.description }}
{{ car.get_car_models_display }}
{{ car.daily_rent }} € {% trans 'per days' %}
{% if request.user.is_authenticated %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="button button-primary" value="{% trans 'Rent this car' %}" />
    </form>
{% else %}
    <em>{% trans 'You must be login to rent a car' %}</em>
{% endif %}
{% endblock %}
