{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ car.name }}{% endblock %}

{% block content %}
<h1>{{ car.name }}</h1>
{% if car.image %}
    <img src="{{ car.image.url|default_if_none:'#' }}" class="image"alt="{{ car.name }}"/>
{% else %}
    <i class="icon ion-ios-help-empty"></i>
{% endif %}
{{ car.localization }}
{{ car.description }}
{{ car.get_car_models_display }}
{{ car.daily_rent }} €
{% if request.user.is_authenticated %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="button button-primary" value="{% trans 'Rent this car' %}" />
    </form>
{% else %}
    {% trans 'You must be login to rent a car' %}
{% endif %}
{% endblock %}
