{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Add a car to rent' %}{% endblock %}

{% block content %}
<div class="panel">

    <div class="formset">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}" />
            <input type="submit" class="button button-primary" value="Rent your car" />
        </form>

    </div>


</div>
{% endblock %}
