{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Sign in' %}{% endblock %}

{% block content %}
<div class="panel">

    <h2>{% trans 'Sign in' %}</h2>

    {% if form.errors %}
       <p>
         Your username/e-mail and password didn't match.
         Please try again.
       </p>
     {% else %}
       <p>Please, use the following form to log in:</p>
     {% endif %}

     <p>Doesn't have an account ? <a href="{% url 'register' %}">Sign up</a> </p>

    <div class="formset">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-ui-control">
                {{ field.label_tag }}<br/>
                {{ field }}
                {% if field.help_text %}
                  <p class="helptext">{{ field.help_text }}</p>
                {% endif %}
                {% for error in field.errors %}
                  <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            <input type="hidden" name="next" value="{{ next }}" />
            <input type="submit" class="button button-primary" value="Log in" />
        </form>

    </div>


</div>
{% endblock %}
