{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Join the community' %}{% endblock %}

{% block content %}
<div class="panel">

    <h2>{% trans 'Create your account.' %}</h2>

    <div class="formset">
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-ui-control">
                {{ field.label_tag }}<br/>
                {{ field }}
                {% if field.help_text %}
                  <p class="helptext">{{ field.help_text }}</p>
                {% endif %}
                {% for error in field.errors %}
                  <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            <input type="submit" class="button button-primary" value="Sign up" />
        </form>

    </div>


</div>
{% endblock %}
