{% extends 'base2.html' %}
{% load i18n %}
{% block title %}{% trans 'Connexion' %}{% endblock %}
{% block bodyId %}loginPage{% endblock %}

{% block content %}
<div class="panel signin-page">

    <div class="formset">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <button class="button button-primary" type="submit">{% trans "Connexion" %}</button>
            <a class="link" href="{% url 'register' %}">{% trans "Créer un compte" %}</a>
        </form>

    </div>
</div>
{% endblock %}
