{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Connexion' %}{% endblock %}
{% block bodyId %}loginPage{% endblock %}

{% block content %}
<div class="panel signin-page">

    <div class="formset">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <a class="link" href="">{% trans "Mot de passe oublié ?" %}</a>
            <button class="button button-primary" type="submit">{% trans "Connexion" %}</button>
        </form>

    </div>
</div>
{% endblock %}
