{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html lang="en">
  <html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Rental cars between individuals.">
    <meta name="author" content="Délita Makanda">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>activcar - {% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Shrikhand" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/app.css' %}">
  </head>

<body>
    <div class="header">
        <div class="container">
            <ul class="header-menu-list">
                <li class="header-menu-list-item logo"><a href="{% url 'cars' %}" class="brand">{% trans 'ActivCar' %}</a></li>
                <li class="header-menu-list-item"><a href="#">{% trans 'Rent a car' %}</a></li>
                <li class="header-menu-list-item"><a href="#">{% trans 'Pricing' %}</a></li>
                <li class="header-menu-list-item"><a href="/pages/about">{% trans 'About' %}</a></li>
                <li class="header-menu-list-item"><a href="#">{% trans 'Contact' %}</a></li>
                <li class="header-menu-list-item"><a href="#">{% trans 'Sign in' %}</a></li>
            </ul>
        </div>
    </div>
    <div class="body">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
    <script type="text/javascript" src="{% static 'scripts/app.js' %}"></script>
</body>

</html>
