{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load pagination_tags %}
{% block title %}{% trans 'Bienvenue' %}{% endblock %}
{% block bodyId %}welcomePage{% endblock %}

{% block content %}
{% if logged_user %}
    {{ logged_user.first_name }} {{ logged_user.last_name }}
{% endif %}
{% endblock %}

{#% block content %#}
<div class="row">
    <div class="column col3">
        <div class="form-location">
            <form method="get">
                {{ filter.form.as_p }}
                <button type="submit" class="button button-secondary">Search</button>
            </form>
        </div>
    </div>
    <div class="column col6">
        <div class="align-right">
            <a class="button button-primary" href="{% url 'post_a_car' %}">{% trans 'Rent a car' %}</a>
        </div>
        <div class="cars-availability">
            <strong>{% trans 'Cars available' %}</strong> <span class="text-secondary">({{ number_of_cars }})</span>
        </div>
        <div class="cars-filters">
            <div>
                <form action="" method="get">
                    <label for="near_me">{% trans 'Near me' %}</label>
                    <input type="radio" id="near_me" name="near_me" />
                </form>
            </div>
            <div>
                <label for="sort_by">{% trans 'Sort by' %}:</label>
                <select id="sort_by" name="sort_by">
                    <option value="{% url 'cars' %}" {% if selected == 'newest'%}selected{% endif %}>Newest</option>
                    <option value="{% url 'sort_by_oldest' %}" {% if selected == 'oldest'%}selected{% endif %}>Oldest</option>
                </select>
            </div>
        </div>
        <ul class="menu-list-cars">
            {% autopaginate filter.qs 8 as filter_search %}
            {% for car in filter_search %}
                <li class="menu-list-cars-item">
                    <a href="{% url 'car-details' id=car.id %}" class="cars">
                        <div class="cars-reference">
                            {% if car.image %}
                            <img src="{{ car.image.url|default_if_none:'#' }}" class="image" alt="{{ car.name }}"/>
                            {% else %}
                            <img src="{% static 'images/none.png' %}" class="image" alt="{{ car.name }}" />
                            {% endif %}
                        </div>
                        <div class="cars-reference cars-description">
                            <div class="car-name">{{ car.name }}</div>
                            <div class="cars-meta">{{ car.get_car_models_display }} &bull; {{ car.daily_rent|floatformat:2 }} € / {% trans 'per days' %}  &bull; {{ car.owner }}</div>
                        </div>
                        <div class="cars-reference">
                            <div class="cars-location">{{ car.localization }}</div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% paginate %}
    </div>
</div>
{#% endblock %#}
