{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% load staticfiles %}
{% load pagination_tags %}
{% block title %}{% trans 'Bienvenue' %}{% endblock %}
{% block bodyId %}welcomePage{% endblock %}


{% block content %}
<div class="row">
    <div class="column col3">
        <div class="form-location">
            <form method="get">
                {{ filter.form.as_p }}
                <button type="submit" class="button button-secondary">{% trans 'Rechercher' %}</button>
            </form>
        </div>
    </div>
    <div class="column col6">
        <div class="align-right">
            <a class="button button-primary" href="{% url 'post_offer' %}">{% trans 'Poster une annonce' %}</a>
        </div>
        <ul class="menu-list-cars">
            {% autopaginate filter.qs 8 as filter_search %}
            {% for job in filter_search %}
                <li class="menu-list-cars-item">
                    <a href="#" class="cars">
                        <div class="cars-reference">
                            {% if job.image %}
                            <img src="{{ job.image.url|default_if_none:'#' }}" class="image" alt="{{ job.title }}"/>
                            {% else %}
                            <img src="{% static 'images/none.png' %}" class="image" alt="{{ job.title }}" />
                            {% endif %}
                        </div>
                        <div class="cars-reference cars-description">
                            <div class="car-name">{{ job.title }}</div>
                            <div class="cars-meta">{{ job.get_job_offer_display }}</div>
                        </div>
                        <div class="cars-reference">
                            <div class="cars-location">{{ job.localization }}</div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% paginate %}
    </div>
</div>
{% endblock %}
