{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Account Settings' %}{% endblock %}

{% block content %}
<div class="row">
    <div class="column col2">
        {% include "dashboard/account_menu.html" %}
    </div>
    <div class="column col8">
        <h3 class="header-title">{% trans 'Account Settings' %}</h3>
        <ul>
            <li class=""><a href="{% url 'account_change_password' %}">{% trans 'Change password' %}</a></li>
            <li class=""><a href="{% url 'account_email' %}">{% trans 'Add or change e-mail' %}</a></li>
        </ul>
    </div>
</div>

{% endblock %}
