{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Car Settings' %}{% endblock %}

{% block content %}
<div class="row">
    <div class="column col2">
        {% include "dashboard/account_menu.html" %}
    </div>
    <div class="column col8">
        <h3 class="header-title">{% trans 'Car Settings' %}</h3>

        <table>
            <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Daily rent' %}</th>
                    <th>{% trans 'Localization' %}</th>
                    <th>{% trans 'Model' %}</th>
                    <th>{% trans 'Availability' %}</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for user in owner_car %}
                <tr>
                    <td><a href="{% url 'car-details' id=user.id %}">{{ user.name }}</a></td>
                    <td>{{ user.daily_rent }} €</td>
                    <td>{{ user.localization }}</td>
                    <td>{{ user.get_car_models_display }}</td>
                    {% if user.is_available %}
                        <td>
                            <input class="switches-checkbox" type="checkbox" id="toggle-{{ user.id }}" checked>
                            <label class="switches-label" for="toggle-{{ user.id }}"><i></i></label>
                        </td>
                    {% else %}
                        <td>
                            <input class="switches-checkbox" type="checkbox" id="toggle-{{ user.id }}">
                            <label class="switches-label" for="toggle-{{ user.id }}"><i></i></label>
                        </td>
                    {% endif %}
                    <td><a href="#"><i class="icon ion-edit"></i></a></td>
                    <td><a href="#"><i class="icon ion-trash-b"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
