{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Payment Settings' %}{% endblock %}

{% block content %}
<div class="row">
    <div class="column col2">
        {% include "dashboard/account_menu.html" %}
    </div>
    <div class="column col8">
        <h3 class="header-title">{% trans 'Payment Settings' %}</h3>

        {% for account in account_user %}
            {{ account.balance }} €
        {% empty %}
            no balance
        {% endfor %}

    </div>
</div>

{% endblock %}
