{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Signup' %}{% endblock %}

{% block content %}
<div class="panel signin-page">

    <h2 class="header-title">{% trans 'Sign up' %}</h2>

    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

    <div class="formset">
        <form action="{% url 'account_signup' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="button button-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>

    </div>
</div>
{% endblock %}
